body {
    display: flex;
    flex-direction: column;
    font-family: "Fredoka", sans-serif;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.main-sect {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 50px 80px 60px;
  }

.main-sect ul li{
  list-style: disc !important;
}

.inner-nav {
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: 100%;
    display: flex;
    padding: 0px 80px;
}

.outer-nav {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    height: fit-content;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
}

.slider-container {
    position: relative;
    max-width: 100%; /* Adjust container width as needed */
    margin: 0 auto;
    height: 100%;
  }
  
  .slider {
    display: flex;
    overflow: hidden;
    height: 100%;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0; /* Start with slides hidden */
    position: absolute;
    transition: opacity 1s ease; /* Add smooth transition for opacity */
  }

  .slide img {
    width: 100%; /* Ensure the image fills the entire width of the slide */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Scale the image to cover the entire slide, maintaining aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
    object-position: center top;
  }
 
  
  .prev-btn,
  .next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 25px;
    border-style: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .prev-btn {
    left: 5px;
  }
  
  .next-btn {
    right: 5px;
  }  

.navdiv {
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.navdiv:hover {
    background-color: rgb(5, 30, 69);
    color: white !important;
}

.contact-info {
    width: 100%;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(83, 175, 253, 1);
    color: white;
}

.outer-nav .contact-info a div{
  display: block;
}



.image-sect {
    width: 100%; 
    height:600px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-left: auto;
}

.hamburg {
  display: none;
}

.contact-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0px;
}

@media screen and (max-width: 835px) {
  .hamburg {
    display: flex;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    font-size: 30px;
    cursor: pointer;
    align-items: center;
    margin-left: auto;
    top: 70px;
    right: 5px;
  }

  .navbar {
    display: none;
  }

  .inner-nav {
    height: 140px;
    padding: 0px 10px !important;
  }

  .inner-nav div img{
    width: 120px;
  }

  .inner-nav div a div {
    position: absolute;
    top: 60px !important;
    border: rgba(83, 175, 253, 0.9) solid 5px !important;
  }

  .navbar.show {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 190px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    width: 100%;
    left: 0px;
  }

  .contact-info{
    padding: 10px;
  }
  
}

@media screen and (max-width: 1024px) {
  .outer-nav .contact-info .contact-link a div{
    display: none;
  }

  .main-sect {
    padding: 50px 60px 60px;
  }

  .inner-nav {
    padding: 0px 60px;
  }

  footer section {
    padding: 0px 60px !important;
  }
}

.logo-ham {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {

  .main-sect{
    padding: 50px 40px 60px;
  }

  footer section {
    padding: 0px 40px !important;
  }

  .logo-ham {
    width: 100%;
  }
  
  .inner-nav{
    padding-bottom: 1px;
  }
  
  .image-sect {
        height: 400px;
    }

    .outer-nav .contact-info a div{
      display: none;
    }
}

.fa-brands {
    width: 30px;
    height: auto;
    margin: 5px;
}

.fa-bars{
  color: rgb(5, 30, 69);
}

* {
    box-sizing: border-box;
}

li {
    margin: 5px 5px;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: rgb(5,30,69);
  }

  p {
    color: navy;
    font-size: 18px;
  }

  a, button, div {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    -webkit-tap-highlight-color: transparent; /* Prevent tap highlight effect */
  }

  footer {
    width: 100%;
    height: fit-content;
    background-color: rgba(116, 194, 87, 1);
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0px;
  }

  footer section {
    padding: 0px 80px;
    width: 100%;
  }

  footer ul li {
    padding-right: 10px;
    margin-left: 0px;
    margin-top: 0px;
  }

  .sitemap {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0px;
  }

  footer section * {
    color: white;
  }
  

